body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #d9dad7;
    color: #1a2639;
}

.navbar {
    background-color: #3e4a61;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s;
    font-size: 20px;
}


.navbar a:hover {
    color: #d9eaff;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 4rem 2rem;
    max-width: 1200px;
    margin: auto;
}

.hero-text {
    flex: 1;
    min-width: 300px;
}

.hero-text h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero-text p {
    font-size: 1.2rem;
    color: #555;
}

.hero-image {
    flex: 1;
    min-width: 300px;
    text-align: center;
}

.hero-image img {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
}

#invite{
    color: #1a2639;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s;
    font-size: 20px;
}

#invite:hover {
    color: red;
    font-size: 22px;
    text-decoration: underline;
}