{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav class="navbar">
        <div class="logo"><i class="fa-solid fa-calendar-days"></i> Take your Quiz</div>
        <ul class="nav-links">
            <li><a href="{% url 'home' %}"><i class="fa-solid fa-house" style="margin-right: 5px;"></i>Home</a></li>
            <li><a href="{% url 'register_page' %}">Register</a></li>
            <li><a href="{% url 'login_page' %}">Login</a></li>
        </ul>
    </nav>

    <section class="hero">
        <div class="hero-text">
            <h1>Welcome to our Quiz Management System</h1>
            <p>Effortlessly create, manage and take quizzes.</p>
            <a href="{% url 'register_page' %}" id="invite">Let's get started <i class="fa-solid fa-meteor" style="margin-left: 5px;"></i></a>
        </div>
        <!-- <div class="hero-image">
            <img src="{% static 'images/events_img.jpg' %}" alt="events image"/>
        </div> -->
    </section>
</body>
</html>
