<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizzes list</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/teachers_quizzes.css' %}">
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="csrf-token" content="{{ csrf_token }}">

</head>
<body>

    <nav class="navbar">
        <div class="logo"><i class="fa-solid fa-calendar-days"></i> Take your Quiz</div>
        <ul class="nav-links">
            <li><a href="{% url 'teachers_quizzes_page' %}"><i class="fa-solid fa-paper-plane"></i> All Quizzes</a></li>
            <li><a href="{% url 'register_page' %}">Logout</a></li>
        </ul>
    </nav>

    <h1>All Quizzes</h1>
    <button id="add-quiz-btn">
        <a href="{% url 'add_quiz_form_page' %}">
            <i class="fa-solid fa-calendar-plus"></i>Create New Quiz
        </a>
    </button>
    
    <div class="quiz-grid" id="quiz-container">

    </div>
    {% load static %}
    <script src="{% static 'JS/teachers_quizzes.js' %}"></script>
    <script>
        const userId = sessionStorage.getItem("user_id");

        if (!userId) {
            alert("You must be logged in!");
            window.location.href = "/app/loginPage/";
        }
    </script>
</body>
</html>
